* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
  margin-bottom: 50px;
}
.header-top {
  padding: 20px;
}
.chapters {
  width: 840px;
  margin: 50px auto;
}
.chapter-1 {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}
.chapter-2 {
  border-bottom: 1px solid black;
  padding: 30px 0px;
}
.chapter-3 {
  border-bottom: 1px solid black;
  padding: 30px 0px;
}
.chapter-4 {
  border-bottom: 1px solid black;
  padding: 30px 0px;
  margin-bottom: 50px;
}
